html {
    font-size: 62.5%;
}

.main-container {
    padding: 7.2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

#hero-image {
    border-radius: 50%;
    border: 2.5rem solid white;
}

.main-container #image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container #hero-image {
    height: 100%;
    width: 100%;
}

input {
    height: 4.5rem;
    width: 40rem;
    margin: 1rem 0rem;
    border: 0.1rem solid #ADADAD;
    border-radius: 0.5rem;
    padding: 0rem 1.5rem;
    color: #ADADAD;
}

#discription {
    font-size: 4rem;
    font-weight: 400;
}

#discription span {
    color: #C8242F;
    font-weight: 700;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 43rem;
}

#login-text {
    font-size: 2.5rem;
    font-weight: 500;
}

#btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-btn {
    width: 15rem;
    background-color: #C8242F;
    color: white;
    font-size: 1.8rem;
    border-radius: 2.5rem;
}

#btn span {
    color: #ADADAD;
}

#new-member {
    color: #ADADAD;
    font-weight: 500;
}

#new-member span {
    color: #C8242F;
}

@media(min-width:1201px) {
    html {
        font-size: 65%;
    }

    .main-container #logo{
        margin-top: 8rem;
    }

    .main-container #hero-image {
        height: 100%;
        width: 100%;
    }
}

@media(min-width:993px) and (max-width:1200px) {
    html {
        font-size: 62.5%;
    }

    .main-container #logo{
        margin-top: 7rem;
    }

    .main-container #hero-image {
        height: 90%;
        width: 90%;
    }
}

@media(min-width:769px) and (max-width:992px) {
    html {
        font-size: 55%;
    }

    .main-container #logo{
        margin-top: 6rem;
    }

    .main-container #hero-image {
        height: 70%;
        width: 70%;
    }
}

@media(min-width:601px) and (max-width:768px) {
    html {
        font-size: 45%;
    }

    .main-container #logo{
        margin-top: 5rem;
    }

    .main-container #hero-image {
        height: 55%;
        width: 55%;
    }
}

@media(max-width:600px) {
    html {
        font-size: 35%;
    }

    .main-container #logo{
        margin-top: 5rem;
    }

    .main-container #hero-image {
        height: 40%;
        width: 40%;
    }
}