#first-header {
    display: flex;
    justify-content: center;
    padding: 0rem;
    margin: 0rem auto;
    width: 100%;
    border: white;
}

#profileblock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    position: relative;
    right: 0px;
}

#profilepicblock {
    margin-top: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

#profilepicblock img {
    width: 70px;
    position: relative;
    left: -9px;
    bottom: 19px;
}

#second-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem auto;
    width: 100%;
}

#search {
    margin: auto;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
}

#second-header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem;
    margin: orem auto;
    width: 100%;
}

.mission-detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.mission-count {
    display: flex;
    text-align: center;
    padding-left: 0rem;
    padding: 2rem 0rem;
}

.missioncountry img {
    width: 20px;
    height: 20px;
}

.missioncountry {
    background-color: rgba(0, 0, 0, 0.575);
    font-size: smaller;
}

.missionheart {
    top: 59px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.575);
    font-size: smaller;
    right: 10px;
}

.missionuser {
    top: 99px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.575);
    font-size: smaller;
    right: 10px;
}

.missiontheme {
    top: -12px;
}

.missionshortdesc {
    font-size: 14px !important;
}

.missionbtn {
    color: #F88634;
    border: 1px solid #F88634 !important;
}

.pagination a {
    background-color: white !important;
    color: black !important;
    border-radius: 6px;
}

.pagination a:hover {
    background-color: #F88634 !important;
    color: white !important;
    border-radius: 6px;
}

.pagination li:hover {
    background-color: #F88634 !important;
    color: white !important;
    border-radius: 6px;
}

.pagination .pagination-active {
    background-color: #F88634 !important;
    color: white !important;
}


.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0) !important;
}


.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
}

.img-responsive {
    width: 100% !important;
    height: auto !important;
}

.slideimg {
    display: block !important;
}

.active {
    border-bottom: 2px solid black;
}

.vname {
    font-size: 14px;
}

.storieslistingcard {
    /* display: none!important ; */
    /* z-index: -1; */
    visibility: hidden;
}

.card:hover .storieslistingcard {
    visibility: visible;
}

.story-head {
    width: 100%;
    height: 350px;
    overflow: hidden !important;
}

.story-head img {
    top: -430px
}

.story-head-div {
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.616);
    width: inherit;
    height: inherit;
}


@media (min-width: 992px) {
    .carousel-inner .active.left {
        left: -25% !important;
    }

    .carousel-inner .next {
        left: 25% !important;
    }

    .carousel-inner .prev {
        left: -25% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.left {
        left: -33.3% !important;
    }

    .carousel-inner .next {
        left: 33.3% !important;
    }

    .carousel-inner .prev {
        left: -33.3% !important;
    }

    .active>div:first-child {
        display: block !important;
    }

    .active>div:first-child+div {
        display: block !important;
    }

    .active>div:last-child {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -100% !important;
    }

    .carousel-inner .next {
        left: 100% !important;
    }

    .carousel-inner .prev {
        left: -100% !important;
    }

    .active>div {
        display: none !important;
    }

    .active>div:first-child {
        display: block !important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .story-head {
        height: 220px;
    }

    .story-head img {
        top: -10%;
    }



    #menuicon {
        width: 20px;
        height: 20px;
        margin: 0 !important;
        padding: 0 !important;
        background-color: white;
    }

    #profilepicblock {
        width: 30px;
        height: 30px;
    }

    #profilepicblock img {
        width: 40px;
        position: relative;
        left: -3px;
        bottom: 9px;
    }

    #search {
        width: 100% !important;
    }

    #filterbar-right {
        width: 100%;
    }

    #PolicyDropdown {
        position: relative;
        margin: 10px 20px 10px 20px;
    }

    input[type="search"] {
        width: 350px;
    }

    * {
        font-size: 12px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .story-head {
        height: 220px;
    }

    .story-head img {
        top: -50%;
    }

    #profilepicblock {
        width: 35px;
        height: 35px;
    }

    #profilepicblock img {
        width: 40px;
        position: relative;
        left: -2px;
        bottom: 9px;
    }

    * {
        font-size: 14px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .story-head {
        height: 220px;
    }

    .story-head img {
        top: -90%;
    }

    * {
        font-size: 16px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    * {
        font-size: 16px;
    }

    .story-head {
        height: 220px;
    }

    .story-head img {
        top: -96%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #search {
        width: 50%;
    }

    .story-head {
        height: 300px;
    }

    .story-head img {
        top: -90%;
    }

    #filterbar-right {
        width: 50%;
    }

    * {
        font-size: 16px;
    }
}