a{
    text-decoration: none;
}

.firstHeader{
    gap: 30px;
}

.firstHeader img{
    margin-right: 50px;
}

.firstHeader a{
    height: 22px;
    font-size: 16px;
    color: #333333;
    opacity: 1;
}

.btnCustom{
    font-size: 16px;
    color: #333333;
    background-color: #fff;
    border: none;
    opacity: 1;
}

.btn:hover{
    color: #333333;
    background-color: #fff;
}

.userContent{
    margin-left: 350px;
}

.userContent #notification{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
    border: #fff;
}

.imgIcon{
    margin-left: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.filterNav{
    border: 0.5px solid;
    border-color: rgba(51, 51, 51, 0.1);
    border-top: none;
    border-bottom: none;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContaint{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.mainHeading #lightHeading{
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}

.mainHeading #missionCount{
    font-size: 30px;
    font-weight: 400;
}

.sortview{
    display: flex;
    align-items: center;
    gap: 50px;
}

.sortBy{
    display: flex;
    border: 0.5px solid;
    border-color: rgba(51, 51, 51, 0.1);
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: space-around;
}

.view{
    display: flex;
    align-items: center;
    gap: 15px;
}

.gridIcon{
    background-color: #72717152;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #72717152;
    padding: 10px 5px 5px 10px;
}

.listIcon{
    font-size: 35px;
    border: #fff;
    background-color: #fff;
}

.listIcon a{
    color: #212020;
}

.missionCard{
    margin-top: 50px;
}

.card{
    position: relative;
}

.theme-detail{
    position: absolute;
    top: 35%;
    left: 36%;
}

.theme-name{
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px 8px;
    padding: 4px;
    border-radius: 10px;
    background-color: #fff;
}

.card #location{
    padding: 5px 8px;
    width: fit-content;
    height: 35px;
    background-color: #212020;
    color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}

.card #likeBtn{
    width: 45px;
    height: 45px;
    background-color: #212020;
    opacity: 0.6;
    position: absolute;
    top: 20%;
    right: 2%;
    border-radius: 50%;
    object-fit: cover;
}

.card #saveBtn{
    width: 45px;
    height: 45px;
    background-color: #212020;
    opacity: 0.6;
    position: absolute;
    top: 29%;
    right: 2%;
    border-radius: 50%;
    object-fit: cover;
}

.card:hover > img{
    opacity: 0.7;
}

.card:hover{
    box-shadow: 1px 1px 10px -2px rgba(167, 165, 165, 0.852);
}


.card-title{
    margin-top: 10px;
    font-size: 26px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.card-text{
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}

.organizor-detail{
    display: flex;
    justify-content: space-between;
}

.organizor-detail #organizer{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}


.duration{
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px 8px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #dbd8d8;
}

.numaricDetail{
    display: flex;
    justify-content: space-between;
}

.numaricDetail img{
    margin-top: 10px;
}

.numaricDetail #numbers h4{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.numaricDetail #numbers p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}

#progress{
    margin: 17px 0px;
}

#progress span{
    font-family: 'Noto Sans', sans-serif;
}

.progress-bar{
    width: 200px;
    height: 15px;
    border-radius: 16px;
    border: 1px solid #212020;
    overflow: hidden;
}

.progress-bar::after{
    content: '';
    background: linear-gradient(135deg, #fd3b00, #ee6f48a8);
    width: 0;
    height: 100%;
    border-radius: 16px;
    animation: progress 2s linear forwards;
}
@keyframes progress {
    100%{
        width: 75%;
    }
}

.card-body #applyBtn{
    height: 60px;
    text-align: center;
    padding-top: 20px;
}

.card-body #applyBtn .btnCustom{
    padding: 8px;
    width: auto;
    color: #F88634;
    border: 3px solid #F88634;
    border-radius: 20px;
}

.pages{
    margin-top: 50px;
}

.pages ul{
    justify-content: center;
    gap: 15px;
}

.page-link{
    background-color: #fff;
    color: #000000;
}

.active-page{
    background-color: #F88634;
    width: 35px;
    text-align: center;
    padding: 6px;
}

.bottomLine{
    margin-top: 50px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer #leftLinks a{
    font-family: 'Noto Sans', sans-serif;
    margin: 10px;
    color: #6d6c6cbd;
}