a {
    text-decoration: none;
}

.firstHeader {
    gap: 30px;
}

.firstHeader img {
    margin-right: 50px;
}

.firstHeader a {
    height: 22px;
    font-size: 16px;
    color: #333333;
    opacity: 1;
}

.btnCustom {
    font-size: 16px;
    color: #333333;
    background-color: #fff;
    border: none;
    opacity: 1;
}

.btn:hover {
    color: #333333;
    background-color: #fff;
}

.userContent {
    margin-left: 350px;
}

.userContent #notification {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
    border: #fff;
}

.imgIcon {
    margin-left: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.card {
    margin-top: 40px;
    height: 700px;
    display: flex;
    flex-direction: row;
}

.card-image {
    width: 56%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
    overflow: hidden;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    overflow: hidden;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0px 30px;
    width: 45%;
}

.card-title {
    margin-top: 30px;
    font-size: 38px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
}

.card-text {
    font-size: 17px;
    margin-top: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}

.thumbnail-images {
    max-width: 900px;
}

.img-thumbnail {
    height: auto;
    width: 23%;
}

.duration {
    padding: 5px 9px;
    border-radius: 20px;
    border: 1px solid #333333;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.numaricDetail {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.numaricDetail img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

.numaricDetail #numbers h4 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.numaricDetail #numbers p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}

#progress {
    margin: 17px 0px;
}

#progress span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}

.progress-bar {
    width: 150px;
    height: 15px;
    border-radius: 16px;
    border: 1px solid #212020;
    overflow: hidden;
}

.progress-bar::after {
    content: '';
    background: linear-gradient(135deg, #fd3b00, #ee6f48a8);
    width: 0;
    height: 100%;
    border-radius: 16px;
    animation: progress 2s linear forwards;
}

@keyframes progress {
    100% {
        width: 80%;
    }
}

.Favourite {
    height: 80px;
    align-items: center;
}

.twoButtons #twoButtons {
    padding: 5px 10px;
    border-radius: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    color: #757575;
    border: 1px solid #3333335e;
    background-color: #fff;
}

.another-details {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.box {
    border: 1px solid #3333335e;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Icon span {
    color: #757575;
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
}

.Icon p {
    font-family: 'Noto Sans', sans-serif;
}

.card-body #applyBtn {
    height: 60px;
    text-align: center;
    padding-top: 30px;
}

.card-body #applyBtn .btnCustom {
    padding: 8px;
    width: auto;
    color: #F88634;
    border: 2px solid #f8863494;
    border-radius: 20px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.left-details {
    max-width: 65%;
    margin-top: 30px;
}

.right-details {
    max-width: 35%;
    margin-top: 50px;
    padding-left: 20px;
}

.information {
    border: 1px solid #41414196;
    padding: 15px;
}

.inner-information {
    align-items: center;
    display: flex;
    gap: 20px;
}

.inner-information-heading p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

.inner-information-details p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

.inner-information-details span {
    font-family: 'Noto Sans', sans-serif;
}

.recent-volunteers {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #41414196;
}

.volunteer-image-grid {
    display: flex;
    flex-wrap: wrap;
}

.volunteer-image {
    height: 33.3%;
    width: 33.3%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volunteer-image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.volunteer-image span {
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}







.releted-mission-title {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 38px;
}

.releted-missionCard {
    margin-top: 20px;
}

.releted-card {
    position: relative;
}

.releted-theme-detail {
    position: absolute;
    top: 37%;
    left: 36%;
}

.releted-theme-name {
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px 8px;
    padding: 4px;
    border-radius: 10px;
    background-color: #fff;
}

.releted-card #location {
    padding: 5px 8px;
    width: fit-content;
    height: 35px;
    background-color: #212020;
    color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}

.releted-card #likeBtn {
    width: 45px;
    height: 45px;
    background-color: #212020;
    opacity: 0.6;
    position: absolute;
    top: 20%;
    right: 2%;
    border-radius: 50%;
    object-fit: cover;
}

.releted-card #saveBtn {
    width: 45px;
    height: 45px;
    background-color: #212020;
    opacity: 0.6;
    position: absolute;
    top: 29%;
    right: 2%;
    border-radius: 50%;
    object-fit: cover;
}

.releted-card:hover>img {
    opacity: 0.7;
}

.releted-card:hover {
    box-shadow: 1px 1px 10px -2px rgba(167, 165, 165, 0.852);
}

.releted-card-title {
    margin-top: 10px;
    font-size: 26px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.releted-card-text {
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}

.organizor-detail {
    display: flex;
    justify-content: space-between;
}

.organizor-detail #organizer {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

.releted-card-body #releted-applyBtn {
    height: 60px;
    text-align: center;
    padding-top: 20px;
}

.releted-card-body #releted-applyBtn .releted-btnCustom {
    padding: 8px;
    width: auto;
    color: #F88634;
    border: 3px solid #F88634;
    border-radius: 20px;
}

.releted-numaricDetail {
    display: flex;
    justify-content: space-between;
}

.releted-numaricDetail img {
    margin-top: 10px;
}

.releted-numaricDetail #releted-numbers h4 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.releted-numaricDetail #releted-numbers p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}




.bottomLine {
    margin-top: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer #leftLinks a {
    font-family: 'Noto Sans', sans-serif;
    margin: 10px;
    color: #6d6c6cbd;
}





@media (min-width: 769px) and (max-width: 1024px) {

    .firstHeader {
        gap: 24px;
    }

    .userContent {
        margin-left: 220px;
    }

    .card {
        margin-left: -50px;
        border: #fff;
        height: auto;
    }

    .card-body {
        padding: 0px 15px;
        width: 50%;
    }
    
    .card-title {
        margin-top: 2px;
        font-size: 20px;
    }

    .card-text {
        font-size: 14px;
        margin-top: 4px;
    }

    .duration {
        padding: 4px 8px;
        font-size: 12px;
    }

    .numaricDetail {
        gap: 15px;
        height: 50px;
    }
    
    .numaricDetail img {
        height: 25px;
        width: 25px;
    }
    
    .numaricDetail #numbers h4 {
        font-size: 17px;
    }
    
    .numaricDetail #numbers p {
        font-size: 14px;
    }

    .Favourite {
        height: 60px;
    }
    
    .twoButtons #twoButtons {
        padding: 4px 8px;
        border-radius: 20px;
        font-size: 13px;
    }

    .rating img {
        height: 20px;
        width: 20px;
    }

    .another-details {
        margin-top: 15px;
        gap: 8px;
    }
    
    .box {
        width: 100px;
        height: 80px;
    }
    
    .Icon span {
        font-size: 9px;
    }

    .Icon p {
        font-size: 10px;
    }

    .card-body #applyBtn {
        height: 45px;
        padding-top: 20px;
    }
    
    .card-body #applyBtn .btnCustom {
        padding: 6px;
        width: auto;
    }

    .middle-line {
        margin-top: 30px;
    }
}